<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} | {{ site.title }}</title>

    <link rel="stylesheet"
          href="{{ '/assets/css/style.css' | relative_url }}">

    <script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']]
  }
};
</script>

<script
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

</head>

<body>

<header>
    <a href="{{ '/' | relative_url }}">
        <strong>{{ site.title }}</strong>
    </a>
</header>

<main>
    {{ content }}
</main>

</body>
</html>